header {
    display: flex;
    align-items: center;
    margin: 0 50px;
    height: 293px;
    font-size: 18px;
}

.menu {
    padding-right: 2.3em;
}

.menu-list {
    display: flex;
    list-style: circle;
    gap: 2em;
}

.item-main {
    list-style: none;
}

a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.button-main {
    text-decoration: none;
}

.logo-black {
    height: 105px;
    width: auto;
}

.contact-list {
    list-style: none;
    width: 240px;
    margin-left: 200px;
    line-height: 1.4;
}

.phone-number, 
.e-mail {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.welcome {
    display: flex;
    width: 1100px;
    height: 757px;
    background: url('/images/cover.jpg') no-repeat 45% / 130%;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
}

.welcome-content {
    margin: 165px 50px 50px;
}

.name {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 1000px;
    height: 385px;
    list-style: none;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.you {
    align-self: center;
    margin-top: 1.3em;
}

.need {
    align-self: flex-end;
    margin-top: 20px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 105px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
}

.intro-text {
    word-spacing: 20px;
}

.make-a-bid-button {
    display: inline-block;
    border: 1px solid #fff;
    background: transparent;
    width: 256px;
    height: 51px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.lots {
    margin: 180px 24px 120px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    padding: 0;
}

.lots-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 596px;
    column-gap: 25px;
    margin: 30px 0;
}

.lot-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
    background: rgba(0, 0, 0, 0.6);
}

.lot-content p {
    width: 254px;
}

.lot-movie, 
.lot-book, 
.lot-picture {
    background-position: 50%;
    background-size: cover;
}

.lot-movie {
    background-image: url('/images/card-lot-01.jpg');
}

.lot-book {
    background-image: url('/images/card-lot-02.jpg');
}

.lot-picture {
    background-image: url('/images/card-lot-03.jpg');
}

.lot-title {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

.about {
    display: flex;
    margin: 0 24px;
}

.logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    border-radius: 50%;
    background: #000;
}

.logo-white {
    width: 60%;
}

.about-content {
    margin-left: 72px;
}

.about-title {
    display: block;
    margin: 136px 0 100px;
}

.about-text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.2;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 180px 50px 82px;
}

footer .menu-list {
    flex-direction: column;
    align-items: center;
    gap: 0;
    list-style: none;
}

footer .contact-list {
    margin-left: 0;
}

.socials {
    display: flex;
    gap: 48px;
    list-style: none;
}

.socials-button {
    width: 48px;
}
